.container-viewport{
    width:900px;
    height:300px;
    display:block;
    margin:0 auto;   
}

.viewport{
    float:left;
	width:150px;
	height:150px;
    position:relative;
	overflow:hidden;
	margin:0 auto;
	background:#212121;
}

.wall{
    z-index:1;
}

#shuffle{
    display:block;
    margin:10px auto;
    width:140px;
    background:#3797C5;
    color:#FFF;
    text-align:center;
    padding:12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration:none;
    text-transform:uppercase;
    font-family:"YanoneKaffeesatzRegular";
    font-size:22px;
}
    #shuffle:hover{
        background:#111;
    }
